<?xml version="1.0" encoding="utf-8"?>
<module>
    <name>Error Pages</name>
    <version>304</version>
    <defaultcat>Advanced</defaultcat>
    <desc>An error page informs a visitor when there is a problem accessing your site. Basic error pages are automatically provided by the web server (Apache). However, if you prefer, you can create a custom error page instead of using the defaults. NOTE: Error pages are added automatically if they are found in the _errorpages directory and if they are a valid error code, and saved in the proper format: [error_number].html (404.html)</desc>
	<type>user</type>
    <authorname>TGates</authorname>
    <authoremail>tgates@mach-hosting.com</authoremail>
    <authorurl>http://www.sentora.org/</authorurl>
    <updateurl>https://zppy-repo.mach-hosting.com/repo/error_pages.xml</updateurl>
</module>