<!--
/*
 * CSS Style Sheet for Custom Error Pages Module for Sentora.org
 * Version : 3.0.2
 * Author :  TGates
 * Email :  tgates@mach-hosting.com
 */
-->
/*STYLES FOR CSS POPUP*/
#blanket {
	background-color: #333;
	opacity: 0.65;
	*background:none;
	position: absolute;
	z-index: 9001;
	top: 0px;
	left: 0px;
	width: 100%;
}
#popUpDiv {
    margin: 0;
    padding: 0;
	background-color: #fff;
	border: 2px solid #000;
	z-index: 9002;
	position: absolute;
	top:0px;
	width: 1100px;
	height: 1000px;
}
#popUpDiv a {
	position: relative;
	top: 0px;
	left: 0px
}
.btn-mh {
	font: bold 16px Arial;
	text-decoration: none;
	background-color: #EEEEEE;
	color: #333333;
	padding: 2px 6px 2px 6px;
	border-top: 1px solid #CCCCCC;
	border-right: 1px solid #333333;
	border-bottom: 1px solid #333333;
	border-left: 1px solid #CCCCCC;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
