/*
 * CSS Style Sheet for Custom Error Pages Module for Sentora.org
 * Version : 3.0.2
 * Author :  TGates
 * Email :  tgates@mach-hosting.com
*/

.zmodule_header {
       margin-bottom: 15px;
       height: 45px;
       width: 1008px;
       margin-left: -2px;

}

#updn {
        float:right;
        width:44px; height:14px;
	cursor:pointer;
	margin-right: 2px;
    }

.title-div {
	background:#F0F0F0;
	border:solid 1px #DFDFDF;
	margin-bottom:0px;
	margin-top:0px;
	min-height:30px;
        padding-top: 3px;
        margin-left: -1px;
        margin-right: -1px;
}

	
.forms {
	background:#F1F4F6 url(../images/zgrid_zform_wrapper.png) left top repeat-x;
	border:solid 1px #DFDFDF;
	/*
	border:solid 1px #E5F0F1;
	*/
	margin-bottom:10px;
	margin-top:0px;
	padding-top:10px;
	padding-bottom:10px;
	padding-right:0px;
	padding-left:20px;
	-moz-border-radius: 10px;
	border-radius: 0px;
        border-radius-bottom: 0px;
	min-height:52px;
    }

.links-prev {
	background:#F1F4F6 url(../images/zgrid_zform_wrapper.png) left top repeat-x;
	border:solid 1px #DFDFDF;
	/*
	border:solid 1px #E5F0F1;
	*/
	margin-bottom:10px;
	margin-top:0px;
	padding-top:10px;
	padding-bottom:10px;
	padding-right:0px;
	padding-left:20px;
	-moz-border-radius: 10px;
	border-radius: 0px;
        border-radius-bottom: 0px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
	min-height:52px;
    }
	
.titles {
	font-size: 12px;
	color: #006699;
	font-weight: bold;
    }
.link-title {
	font-size: 12px;
	color: #006699;
	font-weight: bold;
        margin-left: 3px;
    }
